.home{
   
  background :linear-gradient(rgb(0,0,0,0.5),rgb(0,0,0,0.5)),
  url("../../assets/contactbg.jpg");
  overflow: auto;
  height: 70vh;
  width: 100%;
  filter:brightness(70%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.home >.homeContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 
}

.home >.homeContainer > h1{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: 600;
  color: white;
  margin-top: 12rem;
}

.home > .homeContainer > p{
  font-size: 2rem;
  font-weight: 300;
  color: white;
}

.container{
width: 100%;
}

.container > .containerBoxes{
  background-color: wheat;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  height: 50vh;
  padding: 2rem;
 
}


.container > .containerBoxes > .box1{
 height: 30vh;
 width: 27%;
 text-align: center;
 background-color: white;
 padding-top: 2rem;
 border-radius: 0.5rem;
 box-shadow: rgba(0,0,0,0.25) 0px 54px 55px , rgba(0,0,0,0.12) 0px -12px 30px,rgba(0,0,0,0.12) 0px 4px 6px,rgba(0,0,0,0.17) 0px 12px 13px, rgba(0,0,0,0.09) 0px -3px 5px ;
}

.container > .containerBoxes > .box2{
 height: 30vh;
 width: 26%;
 text-align: center;
 background-color: white;
 padding-top: 2rem;
 border-radius: 0.5rem;
 box-shadow: rgba(0,0,0,0.25) 0px 54px 55px , rgba(0,0,0,0.12) 0px -12px 30px,rgba(0,0,0,0.12) 0px 4px 6px,rgba(0,0,0,0.17) 0px 12px 13px, rgba(0,0,0,0.09) 0px -3px 5px ;
}

.container > .containerBoxes > .box3{
 height: 30vh;
 width: 27%;
 text-align: center;
 background-color: white;
 padding-top: 2rem;
 border-radius: 0.5rem;
 box-shadow: rgba(0,0,0,0.25) 0px 54px 55px , rgba(0,0,0,0.12) 0px -12px 30px,rgba(0,0,0,0.12) 0px 4px 6px,rgba(0,0,0,0.17) 0px 12px 13px, rgba(0,0,0,0.09) 0px -3px 5px ;
}

.box1 a{
 color: black;  
}

.box3 a{
  color: black;
}